* {
  box-sizing: border-box;
}

main {
  width: 1920px;
  max-width: 1920px;
  min-width: 1920px;

  height: 1000px;
  max-height: 1000px;
  min-height: 1000px;

  margin: 5%;
}

.mainNavigation {
  padding-left: 15%;
  font-size: 0px;
  margin-bottom: 5%;
}

.text {
  padding-right: 40%;
  padding-left: 10%;
}

.buttonBox {
  display: inline-block;
  position: relative;
}

.buttonContent {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: large;
  border: black 1px solid;

  width: 150px;
  height: 50px;

  padding-top: 10%;

  background: green;
  color: white;
}

.innerMenu {
  position: absolute;
}

.innerListItem {
  display: none;
}

.buttonBox:hover > .buttonContent {
  background-color: greenyellow;
}
.buttonBox:hover > .innerMenu > .innerListItem {
  display: block;
}
.innerListItem:hover > .innerLink {
  background-color: greenyellow;
  color: black;
}

.compositItem {
  position: relative;
}

.typeOfClothesUl {
  position: absolute;
  right: -100%;
  top: 0;
}

.clothesItem {
  display: none;
}

.compositItem:hover > .typeOfClothesUl > .clothesItem {
  display: block;
}

.clothesItem:hover > .itemLink {
  background-color: greenyellow;
  color: black;
}
